/* ! custom css */

.text-green {
  color: #4caf4f;
}
.text-grey {
  color: #4d4d4d;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  transition: all 300ms ease;
}
.nav-item:hover {
  border-color: #4caf4f;
  border-radius: 10px;
}
.navbar-nav {
  gap: 1rem;
}
.section-1,
.section-2,
.section-3 {
  height: calc(100vh - 58px);
}

.card-shadow {
  box-shadow: 0px 2px 4px 0px #abbed133;
}
.card-zoom-out {
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.card-zoom-out:hover {
  transform: scale(0.95);
}

.w-fit {
  width: fit-content;
}

.marketing-card {
  position: absolute;
  width: 85%;
  height: 175px;
  border-radius: 10px;
  background-color: #f5f7fa;
  box-shadow: 0px 8px 16px 0px #abbed166;
  left: 8%;
  bottom: -25%;
}
.b2-justify-center {
  margin-right: 3rem;
}
.rounded-full {
  border-radius: 50%;
}

.bg-nav-icon {
  background-color: #3c464c;
}

.bg-input {
  background-color: #515b60;
}

.rounded-input {
  border-radius: 8px;
}

.send-btn {
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
}

.footer-input:focus {
  outline: none;
}
.mb-marketing {
  margin-bottom: 150px;
}

.section-1,
.section-2,
.section-3 {
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
}
.lessons-and-insights-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}

.pellentesque {
  font-size: 5vw;
}

.img-mw {
  max-width: 300px;
}

.w-60 {
  width: 60%;
}

.btn-meet-all-customers:hover {
  color: #4caf4f;
}
.m1-img,
.m2-img,
.m3-img {
  transition: all 300ms ease-in-out;
}
.m1-img:hover,
.m2-img:hover,
.m3-img:hover {
  transform: scale(1.1);
}

.business-count {
  border-radius: 15px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.business-count:hover {
  background-color: #4caf4f28;
}
/* ! overridden bs5 */

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: #4caf4f !important;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='grey'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='grey'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.btn-outline-success {
  transition: all 300ms ease !important;
  border: 1px solid transparent !important;
}
.btn-outline-success:hover {
  background-color: transparent !important;
  color: #198754 !important;
  border-color: #4caf4f !important;
  border-radius: 10px !important;
}
i {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.btn-success {
  background-color: #4caf4f !important;
  border-color: #4caf4f !important;
}
.btn-success:hover {
  background-color: #157347 !important;
  border-color: #157347 !important;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='green' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
/* ! media quaries */
@media screen and (max-width: 322px) {
  .mobile-nav {
    justify-content: center !important;
  }
}
@media screen and (max-width: 655px) {
  .text-justify {
    text-align: justify;
  }
  .btn-meet-all-customers {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .pellentesque {
    font-size: 25pt;
  }
}

@media screen and (max-width: 575px) {
  .b2-justify-center {
    justify-content: center !important;
    margin-right: 2rem !important;
  }
}

.insta-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (min-width: 992px) {
  .insta-margin {
    margin-left: 0;
  }
}
@media screen and (max-width: 1200px) {
  .mb-marketing {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1210px) {
  .lessons-and-insights-overlay {
    display: none;
    position: absolute;
  }
}
@media screen and (max-width: 1209px) {
  .lessons-and-insights {
    display: none;
  }
  .overlay {
    display: flex;
  }
  .c-img {
    filter: blur(2px);
    opacity: 0.5;
  }
}
